---
---

:root {
    /* Colors */
    --background-color: #FFFFFF;
    --foreground-color: #000000;
    --dark-gray-color: #333333;
    --gray-color: #808080;
    --accent-color: hsl({{site.color_config.default_hue}}, {{site.color_config.saturation}}%, {{site.color_config.lightness}}%);
    --disabled-color: #B2B2B2;
    
}
body {
    background-color: var(--background-color);
}
svg .cls-1, svg .cls-4 {
    fill: var(--icon-background-color);
}
svg .cls-2, svg .cls-4, svg .cls-3 {
    fill: var(--icon-foreground-color);
}
svg .cls-s1 {
    stroke: var(--icon-background-color);
}
svg .cls-s2 {
    stroke: var(--icon-foreground-color);
}
svg .cls-s3 {
    stroke: var(--background-color);
}
svg .cls-is {
    isolation: isolate;
}
/***************************************************************************************************************/
/* FONTS */
/***************************************************************************************************************/
@font-face {
    font-family: April;
    src: url(../assets/fonts/April-PersonalUse.ttf);
}
@font-face {
    font-family: Badabb;
    src: url(../assets/fonts/BADABB__.TTF);
}
@font-face {
    font-family: Bauhaus;
    src: url(../assets/fonts/Bauhaus-93_6274.ttf);
}
@font-face {
    font-family: Broken;
    src: url(../assets/fonts/BROKEN\ thin\ demo.otf);
}
@font-face {
    font-family: Chunkfive;
    src: url(../assets/fonts/Chunkfive\ Ex.ttf);
}
@font-face {
    font-family: Demode;
    src: url(../assets/fonts/Demode.ttf);
}
@font-face {
    font-family: DogicaBold;
    src: url(../assets/fonts/dogicabold.otf);
}
@font-face {
    font-family: DogicaPixel;
    src: url(../assets/fonts/dogicapixel.ttf);
}
@font-face {
    font-family: Franchise;
    src: url(../assets/fonts/Franchise.ttf);
}
@font-face {
    font-family: Golden;
    src: url(../assets/fonts/Golden_Arrow.ttf);
}
@font-face {
    font-family: Halloween;
    src: url(../assets/fonts/HallowenInline.ttf);
}
@font-face {
    font-family: London;
    src: url(../assets/fonts/LondonTwo.ttf);
}
@font-face {
    font-family: MoonBold;
    src: url(../assets/fonts/Moon2.0-Bold.otf);
}
@font-face {
    font-family: MoonLight;
    src: url(../assets/fonts/Moon2.0-Light.otf);
}
@font-face {
    font-family: Moon;
    src: url(../assets/fonts/Moon2.0-Regular.otf);
}
@font-face {
    font-family: Myriad;
    src: url(../assets/fonts/MyriadPro-Regular.otf);
}
@font-face {
    font-family: Myriad2;
    src: url(../assets/fonts/MyriadPro-Regular\ 2.otf);
}
@font-face {
    font-family: Myriad3;
    src: url(../assets/fonts/MyriadPro-Regular\ 3.otf);
}
@font-face {
    font-family: Panama;
    src: url(../assets/fonts/Panama-Light.otf);
}
@font-face {
    font-family: Quantify;
    src: url(../assets/fonts/Quantify\ Bold\ v2.6.ttf);
}
@font-face {
    font-family: Queen;
    src: url(../assets/fonts/Queen\ of\ Clubs.otf);
}
@font-face {
    font-family: Creatours;
    src: url(../assets/fonts/Creatours.otf);
}
@font-face {
    font-family: JandaSafeandSound;
    src: url(../assets/fonts/JandaSafeandSound.ttf);
}
@font-face {
    font-family: Amatic;
    src: url(../assets/fonts/AmaticSC-Regular.ttf)
}
* {
    font-family: London;
}

@font-face { /* # */
    font-family: Artmash;
    src: url(../assets/fonts/Golden_Arrow.ttf);
    unicode-range: U+23;
}
@font-face { /* a */
    font-family: Artmash;
    src: url(../assets/fonts/Chalkboard-01.ttf);
    unicode-range: U+41;
}
@font-face { /* R */
    font-family: Artmash;
    src: url(../assets/fonts/Demode.ttf);
    unicode-range: U+52;
}
@font-face { /* T */
    font-family: Artmash;
    src: url(../assets/fonts/AmericanTypewriter-01.ttf);
    unicode-range: U+54;
}
@font-face { /* M */
    font-family: Artmash;
    src: url(../assets/fonts/BROKEN\ thin\ demo.otf);
    unicode-range: U+4D;
}
@font-face { /* A */
    font-family: Artmash;
    src: url(../assets/fonts/LondonEdit.otf);
    unicode-range: U+61;
}
@font-face { /* S */
    font-family: Artmash;
    src: url(../assets/fonts/dogicapixel.ttf);
    unicode-range: U+53;
}
@font-face { /* H */
    font-family: Artmash;
    src: url(../assets/fonts/HallowenInline.ttf);
    unicode-range: U+48;
}