<link rel="stylesheet" href="/css/header.css"> <!-- Import the header's CSS -->
<header id="navbar-header">
    <div id="header-title">
        <h1><a href="/">João Rodrigo</a></h1>
        <img id="header-down-arrow" onclick="openHeader();" src="/assets/svgs/icons/down_arrow.svg">
        <img id="header-up-arrow" onclick="closeHeader();" class="hidden" src="/assets/svgs/icons/up_arrow.svg">
    </div>
    <nav>
        <a href="/informacao" {% if page.url == "/informacao/" %} class="active" {% endif %}>Informação</a>
        <a href="/trabalhos" {% if page.url == "/trabalhos/" %} class="active" {% endif %}>Trabalhos</a>
        <a href="/projetos" {% if page.url == "/projetos/" %} class="active" {% endif %}>Projetos</a>
        <a href="/contactos" {% if page.url == "/contactos/" %} class="active" {% endif %}>Contactos</a>
    </nav>
    <div id="header-extra-info">
        <span>Última atualização: {{ "now" | date: "%d/%m/%Y" }}</span>
        <p>
            Design: João Carvalho <br>
            Programação: <a href="https://ldkid.github.io/" target="_blank">Flávio Ferreira</a>
        </p>
    </div>
</header>
<script>
    const HEADER = document.getElementById('navbar-header');
    const OPEN_BUTTON = document.getElementById("header-down-arrow");
    const CLOSE_BUTTON = document.getElementById("header-up-arrow");
    
    function openHeader() {
        HEADER.classList.add('open');
        OPEN_BUTTON.classList.add('hidden');
        CLOSE_BUTTON.classList.remove('hidden');
    }
    function closeHeader() {
        HEADER.classList.remove('open');
        OPEN_BUTTON.classList.remove('hidden');
        CLOSE_BUTTON.classList.add('hidden');
    }
</script>