.big-link-container {
    --icon-foreground-color: var(--foreground-color);
    --icon-background-color: var(--accent-color);
    display: grid;
    justify-content: center;
    grid-template-columns: 290px;
    row-gap: 35px;
    margin-top: 15px;
}



@media screen and (min-width: 800px) {
    .big-link-container {
        --icon-size: 475px;
        grid-template-columns: var(--icon-size);
        row-gap: 60px;
        margin-top: 60px;
    }
}
@media screen and (max-width: 1450px) {
    .big-link-container a:nth-child(even) {
        --icon-foreground-color: var(--accent-color);
        --icon-background-color: var(--foreground-color);
    }
}
@media screen and (min-width: 1450px) {
    .big-link-container {
        grid-template-columns: var(--icon-size) var(--icon-size);
        column-gap: 60px;
    }
    .big-link-container a:nth-child(4n+2), .big-link-container a:nth-child(4n+3) {
        --icon-foreground-color: var(--accent-color);
        --icon-background-color: var(--foreground-color);
    }
}