#back-link {
    position: absolute;
    --icon-background-color: var(--accent-color);
    --icon-foreground-color: var(--foreground-color);
    aspect-ratio: 1;
    right: 0px;
    width: 40px;
    top: 13px;
}
.small-title-icon {
    position: relative;
    top: 5px;
    padding-right: 5px;
}
.small-title-icon, .small-title-icon svg {
    height: 30px;
    display: inline;
    --icon-background-color: var(--background-color);
    --icon-foreground-color: var(--accent-color);
}

@media screen and (min-width: 800px) {
    #back-link {
        width: 80px;
        top: 45px;
    }
    .small-title-icon, .small-title-icon svg {
        height: 80px;
    }
    .small-title-icon {
        top: 13px;
        padding-right: 10px;
    }
}

/* COLOR HANDLER */
/* Magic number for desktop is 206px */

/* 1057px */


@media screen and (max-width: 253px),
(min-width: 357px) and (max-width: 459px),
(min-width: 564px) and (max-width: 666px),
(min-width: 771px) and (max-width: 799px),
(min-width: 865px) and (max-width: 1071px),
(min-width: 1265px) and (max-width: 1471px),
(min-width: 1679px) and (max-width: 1885px),
(min-width: 2093px) {
    #page-info:not(.about-page-info) .link-container a:nth-child(even){
        --icon-foreground-color: var(--accent-color);
        --icon-background-color: var(--foreground-color);
    }
}
@media screen and (min-width: 254px) and (max-width: 356px),
(min-width: 800px) and (max-width: 864px),
(min-width: 1201px) and (max-width: 1264px) {
    #page-info:not(.about-page-info) .link-container a:nth-child(4n+2),
    #page-info:not(.about-page-info) .link-container a:nth-child(4n+3) {
        --icon-foreground-color: var(--accent-color);
        --icon-background-color: var(--foreground-color);
    }
}
@media screen and (min-width: 460px) and (max-width: 563px),
(min-width: 1072px) and (max-width: 1200px),
(min-width: 1472px) and (max-width: 1678px) {
    #page-info:not(.about-page-info) .link-container a:nth-child(8n+2), #page-info:not(.about-page-info) .link-container a:nth-child(8n+4),
    #page-info:not(.about-page-info) .link-container a:nth-child(8n+5), #page-info:not(.about-page-info) .link-container a:nth-child(8n+7) {
        --icon-foreground-color: var(--accent-color);
        --icon-background-color: var(--foreground-color);
    }
}
@media screen and (min-width: 667px) and (max-width: 770px),
(min-width: 1886px) and (max-width: 2092px) {
    #page-info:not(.about-page-info) .link-container a:nth-child(12n+2), #page-info:not(.about-page-info) .link-container a:nth-child(12n+4), #page-info:not(.about-page-info) .link-container a:nth-child(12n+6),
    #page-info:not(.about-page-info) .link-container a:nth-child(12n+7), #page-info:not(.about-page-info) .link-container a:nth-child(12n+9), #page-info:not(.about-page-info) .link-container a:nth-child(12n+11) {
        --icon-foreground-color: var(--accent-color);
        --icon-background-color: var(--foreground-color);
    }
}