---
layout: page
---
<link rel="stylesheet" href="/css/pages/contact.css">
<script src="/js/pages/contact.js" defer></script>

<div id="contact-intro">
    {{ content }}
</div>

<div id="link-block">
    <div>
       <!--  <h2>João Rodrigo:</h2> -->
        <div class="link-container">
            <!-- <a href="https://profile.indeed.com/?hl=pt_PT&co=PT" target="_blank" rel="noopener noreferrer">{%- include informacao/social/indeed.svg %}</a>
            <a href="https://www.instagram.com/joaorodrigo86/" target="_blank" rel="noopener noreferrer">{%- include svgs/dichromatic/instagram.svg %}</a>
            <a href="https://m.facebook.com/joaorodrigo.carvalho?eav=AfYeLJn4j6ZBG_5D7aLFCzyeHkuXca7hWoC7jC7xq-b9fofA35GjBtmSFHM52Z4Kgos&paipv=0" target="_blank" rel="noopener noreferrer">{%- include svgs/dichromatic/facebook.svg %}</a>
            <a href="https://www.linkedin.com/in/joão-rodrigo-carvalho-b3b398230/" target="_blank" rel="noopener noreferrer">{%- include svgs/dichromatic/linkedin.svg %}</a> -->
            {%- for item in page.links -%}
                <a href="{{item.url}}" alt="{{item.nome}}" >{% include {{item.icon}} %}</a>
            {%- endfor -%}
        </div>
    </div>
    <!-- <div>
        <h2>Porto_Days:</h2>
        <div class="link-container">
            <a href="https://www.instagram.com/porto_days/" target="_blank" rel="noopener noreferrer">{%- include svgs/dichromatic/instagram.svg %}</a>
        </div>
    </div>
    <div>
        <h2>Hallo_Onig:</h2>
        <div class="link-container">
            <a href="https://www.instagram.com/hallo_onig/" target="_blank" rel="noopener noreferrer">{%- include svgs/dichromatic/instagram.svg %}</a>
        </div>
    </div> -->
</div>

<div id="form-container">
    <script type="text/javascript">var submitted=false;</script>
    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted)  {window.location='/obrigado';}"></iframe>

    <form action="https://docs.google.com/forms/d/e/1FAIpQLSddPnJg0zdb3EJuYb-7oUmFSL7iT5cCrzDcZw7egYTBC4kuhA/formResponse" method="post" target="hidden_iframe" 
    onsubmit="submitted=true;">
        
        <input id="contact-name" name="entry.450499265" type="text" placeholder="Nome" required />

        <input id="contact-email" name="entry.31350865" type="email" placeholder="Email" required />

        <input id="contact-subject" name="entry.1689612577" type="text" placeholder="Assunto" required />

        <textarea id="contact-textarea" name="entry.1811890150" rows="5" placeholder="Texto" required ></textarea>

        <input id="contact-submit" type="submit" value="Enviar" disabled />
    </form>
</div>