---
layout: page
title: João Rodrigo
---
<link rel="stylesheet" href="/css/pages/home.css">
<script src="/js/pages/home.js" defer></script>

<div id="color-picker">
    <table class="tableslider">
        <tbody>
            <tr class="color-row">
                {% for c in (0..360) %}
                    <td id="hue-{{ c }}" data-component="color-picker-hue" data-hue="{{ c }}" style="background-color:hsl( {{ c }} ,100%,50%);" onmouseenter="clickHue({{ c }})"></td>
                {% endfor %}
            </tr>
            <tr class="selector-row">
                {% for c in (0..360) %}
                    <td id="hue-{{ c }}-selector" data-component="color-picker-hue" data-hue="{{ c }}"  onmouseenter="clickHue({{ c }})"></td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
<span id="latest-change">Última atualização: {{ "now" | date: "%d/%m/%Y" }}</span>
<div id="intro-message">
    <p>{{content}}</p>
</div>
<p id="credits">
    Design: {{ site.designer }} <br id="credits-line-break"><span id="credits-dash">-</span>
    Programação: <a href="https://ldkid.github.io/" target="_blank">Flávio Ferreira</a>
</p>