<!DOCTYPE html>
<html>
<head>
    <!-- Normal initialization -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>João Rodrigo Carvalho</title>
    <!-- Import CSS -->
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/main.css">
    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#da532c">
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/assets/favicon/browserconfig.xml">
    <meta name="theme-color" content="#fff">
    
</head>
<body>
    <!-- Add the header -->
    {%- include components/header.html -%}

    <!-- Now for the page content -->
    <div id="page-container">
        {{ content }}
    </div>
</body>
</html>

<script defer>
    const DEFAULT_HUE = {{ site.color_config.default_hue }}
    const SATURATION = {{ site.color_config.saturation }}
    const LIGHTNESS = {{site.color_config.lightness}}
    const BG_SWITCH_HUE = {{site.color_config.bg_switch}}

    // Get the saved preference
    let theme = sessionStorage.getItem('theme');
    theme = ( theme ) ? theme : DEFAULT_HUE;

    document.body.style.setProperty('--accent-color', `hsl(${theme},${SATURATION}%,${LIGHTNESS}%)`);

    if ( "{{ page.url }}" == '/' ) {
        document.getElementById(`hue-${theme}`).classList.add('picked-hue');
        document.body.classList.add('no-anim')
        ee1();
        setBackground(theme)
        document.body.classList.remove('no-anim')
    }

    function ee1() {
        if ( document.getElementById(`hue-30`).classList.contains('picked-hue') ) {
            document.body.style.setProperty('--accent-color', `hsl(30,100%,28%)`);
            document.body.classList.add('ee1');
        }
    }
    function setBackground(hue) {
        if ( hue < BG_SWITCH_HUE ) {
            document.body.classList.remove('new-bg');
        } else {
            document.body.classList.add('new-bg');
        }
    }
</script>