---
layout: page
---

<link rel="stylesheet" href="/css/pages/project.css">

<div id="project-cover">
    <img src="{{page.background}}" alt="{{page.nome}}">
    <h1>{{ page.nome }}</h1>
</div>
<div id="project-info">
    <a id="back-link" href="javascript:history.back()" {%- if page.path contains "index.md" -%} class="hidden" {%- endif -%}>{%- include svgs/dichromatic/arrow.svg -%}</a>
    {%- if page.icon_do_titulo -%}
        <div class="small-title-icon">{%- include {{page.icon_do_titulo}} -%}</div>
    {%- endif -%}
    {{content}}
</div>

<script src="/js/pages/project.js" defer></script>
<script>
    let firstHeader = document.getElementById('project-info').querySelector('h1');
    firstHeader.style.fontFamily = "{{ page.font_do_titulo }}";
</script>